<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.psychomantys" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Epic RPG Editor</name>
    <description>
        Um editor e visualizador para varios distemas de RPG.
    </description>
    <author email="psycho.mantys@gmail.com" href="http://cordova.io">
        Epic Team
    </author>
    <content src="index.html" />
    <icon src="www/img/logo.png" />
    <access origin="*" />
</widget>
